@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


html{
  scroll-behavior: smooth;
}


body {
  font-family: 'Outfit', sans-serif;
}

.octagon {
  width: 100px;
  aspect-ratio: 1;
  --o: calc(50%*tan(-22.5deg));
  clip-path: polygon(var(--o) 50%,
      50% var(--o),
      calc(100% - var(--o)) 50%,
      50% calc(100% - var(--o)));
}

.scrollbar {
  scrollbar-width: none;
}

/* .animate{
  transition: all 1s ease-in-out;
} */


@media (max-width:450px) {
  .octagon {
    width: 50px;
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-75%);
  }
  75%{
    transform: translateX(75%);
  }
  100%{
    transform: translateX(0%);
  }
}

.infinite-scroll {
  /* display: flex;
  white-space: nowrap; */
  animation: scroll 10s linear infinite;
}